html {
    width: 25em;
    margin-left: 5%;
}

form {
    background-color: lightgoldenrodyellow;
}


fieldset {
    font-size: 1.25em;
    margin-bottom: 20px;
}

input[type='radio'] {
    margin-right: 0;
    vertical-align: middle;
    margin-top: -3px;
}

#line {
    float:left;
}

#gender-block, #height-block, #wight-block {
    float:left;
    clear: left;
}

input[name=name]{
    width:200px;
}

#ftr {
    width: 100%;
    float: right;
    text-height: .75em;
    text-align: right;
    color: red;
    border-top-style: double;
    border-top-width: 3px;
    border-top: black;
    margin-top: 2em;
    padding-top: 1em;
}