html {
    width: 25em;
    margin-left: 5%;
}

fieldset {
    font-size: 1.25em;
    margin-bottom: 20px;
    background-color: lightgoldenrodyellow;
}

input[type='radio'] {
    margin-right: 0;
    vertical-align: middle;
    margin-top: -3px;
}

#line {
    float:left;
    margin-top: .25em;
}

#gender-block, #height-block, #weight-block {
    margin-top: .25em;
    float:left;
    clear: left;
}

input[name=name]{
    width:200px;
}

#results {
    font-size: 1.25em;
    margin-top: 1em;
    background-color: linen;
}

footer {
    height: 10rem;
}

#ftr {
    display: block;
    width: 100%;
    float: right;
    font-size: .75em;
    text-align: right;
    color: red;
    border-top-style: double;
    border-top-width: 3px;
    border-top: black;
    margin-top: .5em;
    padding-top: .25em;
}